.relatedbookcard{
    max-width: 370px;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    margin: 10px;
    border-radius: 10px;
    /* border: 1px solid #0293FC; */
}
.relatedbookcard_img {
    max-width: 125px;
    width: 100%;
    overflow: hidden;
    margin-left: 1rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    /* border: 1px solid black; */
}
.relatedbookcard img{
    height: 130px;
}
.relatedbookcard_text{
    max-width: 235px;
    width: 100%;
    color: #fff;
   margin-left: 10px;
    /* border: 1px solid black; */
}
.relatedbookcard_text font{
    color: #0293FC;
    font-style: 500;
    text-decoration: underline;
}
.relatedbookcard_text h4{
    font-size: 14px;
}
.relatedbookcard_text h5{
    font-size: 15px;
}
.relatedbookcard_text span{
    /* text-align: left; */
    color: #0293FC;
    font-size: 12px;
}
.relatedbookcard_text span i{
    margin: 2px;
}

.relatedbookcard_text button{
    max-width: 70px;
    width: 100%;
    height: 20px;
    text-align: center;
    background-color: #0293FC;
    text-align: center;
    color: #fff;
    border-radius: 7px;
    transition: all 0.3s;
    font-size: 12px;
    margin-left: 10px;
    font-family: "Poppins" sans-serif;

}
.relatedbookcard_text button:active{
    scale: 0.95;
}
.relatedbookcard_text button:hover{
    scale: 0.95;
}