.librarian_dashboard_sidebar {
  max-width: 260px;
  width: 100%;
  height: 650px;
  padding: 20px;
  border: 1px solid #0293FC;
  border-radius: 20px;
  /* background: linear-gradient(to bottom, #000, #161616); */
}

/* .librarian_dashboard_sidebar:hover {
  box-shadow: 0 2px 10px 4px rgba(65,65,65,.8);
} */

.librarian_dashboard_sidebar ul {
  max-width: 250px;
  width: 100%;
  margin: auto;
  padding: 0;
}

.librarian_dashboard_sidebar ul li {
  list-style: none;
  transition: all 0.3s ease;
  border-radius: 10px;
  border: 1px solid #fff;
  /* Darker blue border */
}

.librarian_dashboard_sidebar .sidebar_link {
  font-size: 15px;
  display: block;
  font-weight: 500;
  padding: 10px;
  text-decoration: none;
  transition: all 0.5s;
  /* Dark blue text color */
}

.librarian_dashboard_sidebar .sidebar_link:hover {
  margin-left: 20px;
}

.librarian_dashboard_sidebar .sidebar_link i {
  margin-right: 10px;
  max-width: 20px;
  width: 100%;
  color: #0293FC;
  /* Dark blue icon color */
}

.librarian_dashboard_sidebar .active{
  margin-left: 20px;

}