.bookcard {
    max-width: 330px;
    width: 100%;
    height: 56gigg0px;
    border: 1px solid #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    background-color: #ffffff;
    border-radius: 12px;
    cursor: pointer;
}

.bookcard:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.bookcard .book_image_cover {
    max-width: 330px;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 15px;
}

.bookcard .book_image_cover img{
    height: 300px;
    border-radius: 5px;
    /* border: 1px solid black; */
}

.bookcard .book_card_icons .fa-heart{
    color: #C2C6D1;
    max-width: 45px;
    width: 100%;
    height: 45px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0293FC;
    border-radius: 50%;
    font-size: 25px;
}
.book_card_icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.bookcard h3 {
    text-align: left;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: #555;
    font-size: 14px;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
}
.bookcard h3 font {
    color: #393280;
    font-weight: 500;
}
.bookcard h4 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: black;
    font-weight: 600;
    font-size: 22px;
}

.bookcard span{
    text-align: left;
    color: #0293FC;
}

.bookcard button{
    max-width: 150px;
    width: 100%;
    height: 35px;
    text-align: center;
    background-color: white;
    border: 1px solid #0293FC;
    text-align: center;
    color: #0293FC;
    border-radius: 10px;
    margin-top: 10px;
    transition: all 0.2s;
    font-family: 'Poppins', sans-serif;

}
.bookcard button:active{
    max-width: 150px;
    width: 100%;
    height: 35px;
    text-align: center;
    background-color: white;
    border: 1px solid #0293FC;
    text-align: center;
    color: #0293FC;
    border-radius: 10px;
    margin-top: 10px;
    scale: 1.05;
}
.bookcard button:hover{
    background-color: #0293FC;
    color: white;
}

.bookcard_button{
    text-align: center;
}