.librarian_dashboard_readers_page {
    max-width: 1260px;
    width: 100%;
    border-radius: 10px;
    height: 450px;
    overflow: auto;
    /* border: 1px solid red; */

}



.librarian_dashboard_readers_page::-webkit-scrollbar {
    width: 8px;
    /* Set the width of the scrollbar */
    cursor: pointer;
}

/* Track */
.librarian_dashboard_readers_page::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Set the background color of the track */
}

/* Handle */
.librarian_dashboard_readers_page::-webkit-scrollbar-thumb {
    background: #F65867;
    /* Set the color of the scrollbar handle */
    border-radius: 4px;
    /* Optional: Rounded corners for the scrollbar handle */
}


.readers_table {
    max-width: 100%;
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

.readers_table th,
.readers_table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.readers_table th {
    background-color: #f2f2f2;
    position: sticky;
    top: -1px;
    z-index: 23;
    text-align: center;
}

.readers_table img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.readers_table button {
    background-color: #0293FC;
    color: white;
    padding: 8px 12px;
    margin: 4px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.readers_table button:hover {
    background-color: #0293FC;
}

.librarian_dashboard_user_image img{
    margin: auto;
}

.librarian_dashboard_borrow_books{
    width: 120px;
}
.librarian_dashboard_fine{
    width: 70px;
    text-align: center!important;

}
.librarian_dashboard_details_size {
    width: 145px;

}
.librarian_dashboard_id_size {
    width: 45px;
    text-align: center!important;

}
.librarian_dashboard_image_size {
    width: 100px;
}
.librarian_dashboard_fullname_size {
    width: 150px;
}
.librarian_dashboard_fine_size {
    width: 50px;
    text-align: center!important;
}
.librarian_dashboard_image_size img {
    margin: auto;
}
.librarian_dashboard_add_user_button{
    margin: 10px!important;
    color: #0293FC!important;
}
.librarian_dashboard_readers_page_button_cover{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
}
.librarian_dashboard_update_delete_button{
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.librarian_dashboard_update_user_input{
    max-width: 140px;
    width: 100%;
    height: 35px;
    border-radius: 10px;
    padding: 3px;
    box-sizing: border-box;
    border: 1px solid #0293FC;
}

