.audiobookcard {
  max-width: 300px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Red Hat Display', sans-serif;
}
.audiobookcard_image_cover{
  display: flex;
  justify-content: center;
  align-items: center;
}
.audiobookcard_image {
  height: 200px; /* Set the height according to your design */
  object-fit: cover; /* Ensure the image covers the container */
  border-radius: 8px;
  margin-bottom: 10px;
}

.audiobookcard_title {
  font-size: 20px;
  margin-bottom: 10px;
}

.audiobookcard_author {
  font-size: 1rem;
  color: #555;
  margin: 5px 0px;
}

.audiobookcard_audio-player {
  width: 100%;
  margin-bottom: 15px;
}

.audiobookcard_audio-player::-webkit-media-controls-download-button {
  display: none; 
}



.audiobookcard_bookcard_button{
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* border: 1px solid black; */
}
.audiobookcard button{
  max-width: 150px;
  width: 100%;
  height: 35px;
  text-align: center;
  background-color: white;
  border: 1px solid #0293FC;
  text-align: center;
  color: #0293FC;
  border-radius: 10px;
  transition: all 0.2s;
  font-family: 'Poppins', sans-serif;

}

.audiobookcard button:active{
  max-width: 150px;
  width: 100%;
  height: 35px;
  text-align: center;
  background-color: white;
  border: 1px solid #0293FC;
  text-align: center;
  color: #0293FC;
  border-radius: 10px;
  margin-top: 10px;
  scale: 0.98;
}
.audiobookcard button:hover{
  background-color: #0293FC;
  color: white;
}
.audiobookcard_button_cover{
  max-width: 150px;
  width: 100%;
  text-align: center;
  background-color: white;
  color: #0293FC;
  border-radius: 10px;
  transition: all 0.2s;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}