.BooksCover{
    max-width: 1440px;
    width: 100%;
    margin: auto;
    /* border: 1px solid black; */
}

.book_filter_list_cover{
    max-width: 1440px;
    width: 100%;
    margin: auto;
    /* border: 1px solid black; */
    display: flex;
}

.pagination_cover{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    max-width: 1440px;
    width: 100%;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}

.page-btn {
    background-color: white;
    color: #333;
    border: 1px solid #0293FC;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.page-btn.active {
    background-color: #0293FC;
    color: white;
}

.prev-btn, .next-btn {
    background-color: #0293FC;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.prev-btn:hover, .next-btn:hover {
    background-color: #0269A9;
}
