.topbooks{
    max-width: 1440px;
    width: 100%;
    height: auto;
    margin: auto;
    padding: 30px 30px;
    /* border: 1px solid #fff; */
    

}
.topbooks h1{
    text-align: center;
    margin: 10px 0px;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
    text-transform: uppercase;
    background: linear-gradient(#0293FC, #eee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* color: #0293FC; */
    /* background: linear-gradient(to bottom #fff, #0293FC) ; */
}

.topbooks .Slider {
    background-image: url('/src/assets/imgs/banner/background-5.webp');
    background-repeat: repeat;
    background-size:auto;
    height: 510px;
    margin-top: 2.5rem;
    /* border: 1px solid #fff; */
}

.topbooks .mySwiper{
    height: 520px;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;
    background-color: #fff;
    /* margin-top: 1rem; */
}