/* User Card Container */
.usercard {
    max-width: 300px;
    width: 100%;
    height: 430px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
    filter: opacity(1);
    border: 1px solid #0293FC;
    /* background-color: #ffffff; */
}

/* User Image Container */
.user_image_cover {
    max-width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 15px;
}

.user_image_cover img {
    height: 300px;
    object-fit: cover;
}

/* User Info */
.usercard h2 {
    text-align: center;
    margin: 12px 0;
    font-size: 1.5rem;
    color: #fff;
}
.usercard p{
    text-indent: 5px;
    color: #0293FC;
}
.usercard p i {
    color: #fff;
    margin-right: 5px;
}

.usercard p font {
    font-weight: 500;
    color: #fff;
}

/* Hover Effect */
.usercard:hover {
    filter: opacity(0.8);
    /* box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3); */
}
