.bookslist{
    max-width: 1140px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* border: 1px solid #fff; */
    /* padding: 10px; */
}
.booklist_card{
    margin: 10px!important;
}