.bookslist{
    max-width: 1140px;
    width: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
}
.booklist_card{
    margin: 10px!important;
}