.authors{
    max-width: 1440px;
    width: 100%;
    height: auto;
    padding: 20px 0px;
    border: 1px solid #fff;
    margin: auto;

}

.authors h1{
    text-align: center!important;
    font-size: 25px;
    text-align: center;
    margin: 10px 0px;
    /* color: #0293FC; */
    background: radial-gradient(#0293FC, #eee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 600;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.author_card_cover{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}