.bookpagedetails{
    max-width: 800px;
    width: 100%;
    height: auto;
    padding: 10px;
    /* border: 1px solid black; */
}
.bookpagedetails h1{
    color: #0293FC;
    font-size: 25px;
    font-weight: 600;
    margin: 10px 0px;
    font-family: 'Red Hat Display', sans-serif;
    text-transform: uppercase;
}

.bookpagedetails_book_table {
    border: 1px solid #fff;
    max-width: 800px;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    /* background-color: #000; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.book_table_tr td {
    /* background: linear-gradient( #000, #3d3d3d); */
    padding: 7px;
    color: #fff;
    border-radius: 10px;
    background-color: #000;
}
.table_left_side{
    font-weight: 400;
}

.bookpagedetails_book_table td{
    background: linear-gradient( #000, #232323);
    max-width: 500px;
    width: 100%;
    /* text-align: right; */
    /* background-color: #000; */

}
/* .bookpagedetails_book_table td:first-child{
    max-width: 300px;
    width: 100%;
    text-align: left;
    font-weight: 500;

} */

.book_table_tr {
    background: linear-gradient( #000, #161616);
    max-width: 800px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    padding: 5px;
    border-radius: 10px;
    /* background-color: #000; */
}


